<div class=" "container-xxl px-md-5 bg-white shadow-lg>
    <div class="container">
    

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-black">Home</a></li>
        <li><a href="/recipes/new" class="nav-link px-2 text-black">Create Recipe</a></li>
        <li><a href="/recipes/profile" class="nav-link px-2 text-black">My Recipes</a></li>
        <li><a href="/recipes/all" class="nav-link px-2 text-black">View All</a></li>
      </ul>

      <div class="text-end">
        <!-- <button type="button" class="btn btn-outline-black me-2">Login</button> -->
        <a href="/auth/google" type="button" class="btn btn-outline-black me-2">Login</a>
        <a href="/logout" type="button" class="btn btn-warning">Log Out</a>   
      </div>


      

    </div>
  </div>
</div>