body {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    background-color: beige;
}

#bannerimage {
    width: 100%;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5a0b700329f1871d181e96ae/1519365497321-VF57ZZUDRZHZF3URA1NO/recipes+banner+.jpg?format=2500w");
    height: 500px;
    background-color: purple;
    background-position: center;
    background-size:100%;           
  }

/* .boxed {
    display: flex;
    box-shadow: 0 10px 10px -5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 50%;
    font-size: 20px;
    background-color: #eeeeee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

/* h2 {
    background-color: black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

.recipeList {
    text-align: left;
    background-color: ghostwhite;
}